<h1>Recent VR News <button id="refresh-articles"> Refresh Articles</button></h1>

<div class="article">
{{#each articles}}
   <h3>{{title}}</h3>
   <a href="{{link}}">Link to article</a>
   <p>{{summary}}</p>
   <i>{{date}}</i>
{{/each}}
</div>